@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #111;
}

/* A9ADC6   -1st
D4BCBC    -2nd
F5ACA5    -3rd
92869E    - 4th
B68BA6   -5th */
body {
    background: #d4bcbc;
}

.nav {
    display: flex;
    position: relative;
}

.nav-logo {
    background: red;
    background-size: cover;
    background-position: center;
    width: 4vw;
    height: 4vw;
    margin-top: 2vw;
    border-radius: 100%;
    margin-left: 2vw;
    position: absolute;
}

.nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    list-style: none;
    margin-top: 3.5vw;
}

.nav ul li {
    display: block;
    margin: 0 1.25vw;
    font-size: 1.5vw;
    text-decoration: none;
}

.nav ul li a {
    text-decoration: none;
}

.landing-div span {
    font-size: 4vw;
    text-align: center;
    letter-spacing: 1px;
    line-height: 7.5vw;
}

.landing-div span h1 {
    margin-top: 5vw;
}

.landing-div p {
    text-align: center;
    margin-top: 2.5vw;
    letter-spacing: 1px;
    font-size: 1.5vw;
}

.landing-div button {
    border: none;
    border-radius: 20px;
    padding: 10px;
    width: 10vw;
    font-size: 1.5vw;
    background: #111;
    color: #d4bcbc;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    margin: 2.5vw auto;
    display: block;
}

.select-slot-div {
    width: 20vw;
    height: 30vw;
    background: #111;
    border-radius: 2.5vw;
    padding: 15px;
    padding-left: 20px;
    margin-left: 1.5vw;
    position: absolute;
    margin-top: -12.5vw;
}

.select-slot-div p {
    color: #d4bcbc;
    font-size: 1.25vw;
    margin: 1.75vw .75vw;
    letter-spacing: 1px;
}

.select-slot-div h2 {
    color: #eee;
    letter-spacing: 1px;
    margin: -1vw .75vw;
}

.select-slot-div img {
    position: absolute;
}

.line {
    margin: -10vw 1.25vw;
    transform: scale(0.25);
}

.plane {
    transform: scale(0.5);
    margin: 7.5vw -1.1vw;
}

.flight-details span {
    color: #d4bcbc;
    font-size: 1.3vw;
    letter-spacing: 1px;
}

.flight-details {
    margin: 3vw 3.5vw;
    position: absolute;
}

.flight-details p {
    color: #eee;
    margin-top: .5vw;
    margin-left: 0vw;
}

.to {
    margin-top: -1vw;
}

.flight-list {
    list-style: none;
    margin-left: -2.5vw;
    display: flex;
}

.flight-list li {
    margin-right: .5vw;
    margin-bottom: -1vw;
    padding: 5px;
    text-align: center;
    width: 7.5vw;
    border-radius: .5vw;
    background-color: #B68BA6;
}

.flight-list li p {
    margin-top: 1vw;
}

.video {
    width: 20vw;
    height: 30vw;
    float: right;
    background: url('https://images.pexels.com/photos/2088203/pexels-photo-2088203.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-size: cover;
    background-position: center;
    margin-right: 1.5vw;
    border-radius: 2.5vw;
    margin-top: -12.5vw;
}

.img-div-1,
.flight-board {
    width: 15vw;
    border-radius: 2.5vw;
    height: 18vw;
    position: absolute;
}

.img-div-1 {
    margin: -.5vw 23.5vw;
    background: url('https://images.pexels.com/photos/2033343/pexels-photo-2033343.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center;
}

.flight-board {
    margin: -.5vw 61.5vw;
    background-color: #92869E;

}

.time {
    color: #d4bcbc !important;
    margin: 1vw -2.5vw !important;
}

.select-slot-div button {
    border: none;
    border-radius: 10px;
    background: #92869E;
    font-weight: 600;
    padding: 10px;
    font-size: 1.25vw;
    width: 115%;
    display: block;
    margin-left: -2.5vw;
    margin-top: 2vw;
}

.quote-div {
    display: block;
    width: 17.5vw;
    height: 15vw;
    margin-left: 41.3%;
    margin-top: 2.5vw;
    background: #A9ADC6;
    position: absolute;
    border-radius: 2vw;
}

.quote-div h2 {
    letter-spacing: 1px;
    color: #111;
    font-size: 2vw;
    margin-top: 3.5vw;
    margin-left: 1.25vw;
}

.circle-1,
.circle-2 {
    width: 10px;
    height: 10px;
    background: #111;
    border-radius: 100%;
    position: absolute;
    margin-left: 15.5vw;
}

.circle-1 {
    margin-top: -5vw;
}

.circle-2 {
    margin-top: -2.5vw;
}

.rect {
    width: 10px;
    height: 17.5px;
    border-radius: 2.5vw;
    position: absolute;
    background-color: #111;
    margin-top: -4vw;
    margin-left: 15.5vw;
}

.video button {
    border: none;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.75);
    font-weight: 600;
    padding: 10px;
    font-size: 1.25vw;
    color: #eee;
    width: 85%;
    display: block;
    margin-left: 1.5vw;
    margin-top: 18.5vw;
    letter-spacing: 1px;
}
.video h2{
    margin-left: 1.5vw;
    margin-top: 2.5vw;
}
.user-info{
    display: flex;
    margin: 1.75vw 1.2vw;
}
.pfp{
    width: 1.2vw;
    height: 1.2vw;
    border-radius: 100%;
    padding: 1.5vw;
    background: linear-gradient(96deg, #B68BA6,#A9ADC6,#D4BCBC);
}
.user-info p {
    font-size: 1.5vw;
    margin: .5vw 1vw;
    font-weight: 600;
}
.upcoming-title{
    margin: -1vw 1.5vw;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 3vw;
}
.upcoming{
    text-align: center;
    background-color: #111;
    border-radius: 10px;
    width: 12.5vw;
    padding: 10px;
    margin-top: .5vw;
    margin-left: 1.5vw;
}
.upcoming h3{
    color: #eee;
    letter-spacing: 1px;
}
.about-div
{
    height: 80vh;
    margin-top: 30vw;
}
.about-div h1,
.work h1{
    font-size: 5vw;
    margin-top: 10vw;
    margin-left: 5vw;
    letter-spacing: 1px;
}

.about-div p,
.work p{
    margin-left: 5vw;
    font-size: 1.25vw;
    margin-top: 2.5vw;
}

.work h1{
    text-align: right;
    margin-right: 5vw;
}
.work p {
    float: right;
    text-align: right;
    margin-right: 5vw;
}

.work,.subscription{
    height:80vh;
}
.subscription h1{
    text-align: center;
    font-size: 5vw;
    letter-spacing: 1px;
}
.subscription p{
    text-align: center;
    margin-top: 2.5vw;
    font-size: 1.25vw;
}
.sub-cards {
    margin-top:  5vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    list-style: none;
}
.sub-cards li {
    width: 25vw;
    height: 35vw;
    border-radius: 2.5vw;
}
.sub-cards li h3{
    text-align: center;
    font-size: 2.5vw;
    margin-top: 2.5vw;
    letter-spacing: 1px;
}
.sub-cards li:nth-child(1){
    background: #A9ADC6;
}
.sub-cards li:nth-child(2){
    background: #B68BA6;
}
.sub-cards li:nth-child(3){
    background: #92869E;
}
.footer{
    margin-top: 3.5vw;
    height: 10vh;
}
.footer-info
{
    display: flex;
    margin-left: 2.5vw;
}
hr{
    background: rgba(0, 0, 0, 0.05);
    width: 85%;
    height: .5vw;
    border-radius: 10px;
    display: block;
    position: relative;
    margin: auto;
}
.footer-logo{
    background: red;
    background-size: cover;
    background-position: center;
    width: 4vw;
    height: 4vw;
    border-radius: 100%;
}
.footer-info h2{
    margin: 1vw 2.5vw;
}
.sub-cards h2{
    font-size: 4vw;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 2.5vw;
}
.sub-cards p{
    margin-top: 5vw;
    font-size: 1.25vw;
    font-weight: 600;
}
.sub-cards button {
    border: none;
    border-radius: 10px;
    background: #111;
    font-weight: 600;
    padding: 10px;
    color: #eee;
    letter-spacing: 1px;
    width: 85%;
    font-size: 1.25vw;
    display: block;
    margin-top: 7vw;
    margin-left: 7.25%;
}
